name: Action Workflows

on:
  #push:
  repository_dispatch: 
    types: [build]

  pull_request:
    types: [closed, "assigned", "opened", "reopened"]


jobs: 
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: List files
        run: |
          pwd
          ls -a 
          echo "Workflow name:  $GITHUB_WORKFLOW"
          echo "Workspace:      $GITHUB_WORKSPACE"
          echo "Event:          $GITHUB_EVENT_NAME"
          echo "SHA:            $GITHUB_SHA"
          echo "Ref:            $GITHUB_REF"      
      - name: checkout
        uses: actions/checkout@v1
      - name: List Files After checkout
        run: |
          pwd
          ls -a
          echo "Workflow name:  $GITHUB_WORKFLOW"
          echo "Workspace:      $GITHUB_WORKSPACE"
          echo "Event:          $GITHUB_EVENT_NAME"
          echo "SHA:            $GITHUB_SHA"
          echo "Ref:            $GITHUB_REF" 
      - name: Simple JS action
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: John
      - name: Log greeting Time
        run: echo "${{steps.greet.outputs.time}}"    
      
            
       