name: Shell cmd

on: [push]

jobs: 
  run-shell-command: 
    runs-on: ubuntu-latest
    steps:
      - name: echo string
        run: echo "hallo world!!!"
      - name: run version node
        run: node -v 
      - name: run version npm -n
        run:  npm -v
         

