name: Shell cmd

on:
  push:
    

jobs: 
  run-shell-command: 
    runs-on: ubuntu-latest
    steps:
      - name: echo string
        run: echo "hallo world!!!"
      - name: run version node
        run: node -v 
      - name: run version npm -n
        run:  npm -v
      - name: "Python Command"
        run: |
          import platform
          print(platform.processor())
        shell: python  
  run-windows-commands:
   needs: ["run-shell-command"]
   runs-on: windows-latest
   steps:
       - name: Directory PowerShell
         run: Get-Location
       - name: Directory bash
         run: pwd 
         shell: bash 
         

